* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Avenir Next';
}

.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.navigation {
    width: 1036px;
    display: flex;
    justify-content: space-between;
    padding: 8px 0px;   
}

@media (max-width: 430px) {
    .navigation{
        width: 334px;
    }
}

nav img {
    width: 46px;
    height: 46px;

}

nav ul {
    display: flex;
    align-items: center;
}

@media (max-width: 430px) {
    .navigation {
        position: relative;
        overflow-x: hidden;
    }

    ul {
        flex-direction: column;
        margin-top: 53px;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: #ffffff;
        justify-content: center;
        align-items: center;
        right: -100%;
        transition: right 0.5s;
        row-gap: 15px;
    }

    .slide-menu {
        transition: 0.5s;
        right: 0;
    }
}

nav li {
    list-style: none;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: #000000;
}

.hamburger-menu {
    width: 46px;
    height: 46px;
    background: transparent;
    appearance: none;
    padding: 0;
    position: relative;
    border: none;
}

.hamburger-menu__bar {
    display: inline-block;
    width: 44%;
    height: 2px;
    transform: translateX(-50%);
    transition: 0.5s;
    position: absolute;
    background: #000000;
}

.hamburger-menu__bar:first-child {
    top: 16px;
}

.hamburger-menu__bar:nth-child(2) {
    top: 24px;
}

.hamburger-menu__bar:last-child {
    top: 32px;
}

.hamburger-menu--open .hamburger-menu__bar {
    top: 50%;
}

.hamburger-menu--open .hamburger-menu__bar:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.hamburger-menu--open .hamburger-menu__bar:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
    display: none;
}

.wrapper {
    width: 1036px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#firstview {
    margin-top: 62px;
    display: flex;
    justify-content: center;
}

.fv-box {
    width: 100%;
    height: 730px;
    background-image: url('images/fv1.png');
    background-position: center center;
    background-size: cover;
    position: relative;
}


.rotate-90 {
    font-size: 120px;
    position: absolute;
    font-weight: 700;
    transform: rotate(270deg);
    transform-origin: 100% 0;
    right: 150px;
    color: #ffffff;
}

.left-bottom {
    font-size: 64px;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px #ffffff;
    position: absolute;
    bottom: 0;
    padding: 0 0 27px 47px;
}

.left-bottom span {
    color: #ffffff;
}

.fv-sp-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sp-wrapper {
    width: 334px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sp-fv  {
    width: 100%;
    height: 638px;
}


.fv-text-1 {
    margin-top: 10px;
    font-size: 36px;
    text-align: end;
    color: #ffffff;
}

.fv-text-2 {
    font-size: 48px;
    text-align: end;
    color: #ffffff;
}

.bg-pink {
    width: 100%;
    height: 427.89px;
    background-color: #FCC8D7;
    position: absolute;
    z-index: -1;
    bottom: 0;
}

#about {
    margin-top: 62px;
    display: flex;
    justify-content: center;
}

.logo_right {
    position: absolute;
    bottom: -150%;
    right: 0%;
    z-index: -1;
}

@media (max-width: 430px) {
    .logo_right{
        width: 60vw;
        bottom: -140%;
        right: 0;
    }
}

.position-box {
    position: relative;
    height: 800px;
}

h2 {
    font-weight: 400;
    color: #e4769d;
}

.pos {
    font-size: 160px;
    position: absolute;
}

.stroke {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px #ffffff;
    z-index: 3;
}

#about .pc img {
    padding-top: 130px;
    position: absolute;
    right: 0;
    width: 849px;
    right: 0;
}

#about .pc p {
    font-family: 'Yu Gothic Medium';
    line-height: 2;
    position: absolute;
    display: inline-block;
    padding: 30px;
    bottom: 30px;
    background-color: rgba(255, 255, 255, 0.80);
}

#about .sp h2 {
    font-size: 40px;
    font-weight: 500;
}

#about .sp p {
    font-size: 18px;
    display: inline-block;
    margin-top: 16px;
}

.about-img-sp {
    width: 100%;
}

#activity {
    margin-top: 124px;
    display: flex;
    justify-content: center;
}

#activity h2 {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px #E95A8D;
    font-size: 128px;
}

#activity .sp h2 {
    font-size: 40px;
}

.box {
    margin-bottom: 104px;
}

.right-text {
    text-align: end;
}

.activity {
    display: flex;
}


.act {
    position: relative;
    margin-right: 8px;
}

.act h3 {
    position: absolute;
    font-size: 64px;
    font-weight: 400;
    top: 100px;
}

.pink {
    z-index: -1;
    color: #E95A8D;
}

.white-box {
    overflow: hidden;
    margin-left: 140px;
    position: relative;
}

.white {
    color: #ffffff;
    left: -140px;
}

.side-photo {
    display: flex;
    flex-direction: column;
}

.side-1 {
    margin-bottom: 8px;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse .act {
    margin-right: 0;
    margin-left: 8px;
}

.reverse h3 {
    text-align: right;
}

.reverse .pink {
    right: 0;
}

.white-box-reverse {
    margin-left: 0;
    margin-right: 140px;
}

.white-reverse {
    right: -140px;
}

.horizontal {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.each_activity h3{
    font-weight: 400;
    color: #E95A8D;
    display: inline-block;
    margin-top: 8px;
    font-size: 32px;
    letter-spacing: -2px;
}

.each_activity {
    margin-bottom: 80px;
}

.each_activity p {
    display: inline-block;
    margin-top: 12px;
}

.logo_left {
    position: absolute;
    bottom: -110%;
    left: -20%;
    z-index: -1;
}

.sp-logo_left{
    position: absolute;
    bottom: -500%;
    left: -20%;
    z-index: -1;
    width: 60vw;
}

#features {
    margin-top: 62px;
    display: flex;
    justify-content: center;
}

.feature {
    position: relative;
    width: 100%;
    height: 500px;
}

.feature h2{
    font-size: 128px;
    position: absolute;
    font-weight: 700;
    transform: rotate(90deg);
    transform-origin: 0 100%;
    left: 0;
    top: -37%;
}
.pc .slider {
    margin-left: 175px;
}

.pc .slick-initialized .slick-slide {
    display: flex;
    justify-content: space-between;
}

.pc .slide-box {
    column-gap: 10px;
    font-family: 'Yu Gothic Medium';
    width: 488px;
    padding-left: 8px;
}

.pc .slide-box h3 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: -1.5px;
    font-family: 'Yu Gothic Medium';
}

#features .sp h2 {
    font-size: 40px;
    font-weight: 500;   
}

.sp .slider {
    margin-left: 0;
    width: 100%;
}

.sp .slide-img {
    width: 100%;
}

.sp .slick-initialized .slick-slide {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 430px) {
    .slick-dots {
        left: 0;
        height: 20px;
        background-color: transparent;
    }
}

#features .sp h3 {
    font-size: 24px;
    font-weight: 400;
    display: inline-block;
    margin-top: 11px;
    margin-bottom: 11px;
}

#features .sp p {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 11px;
}

#info {
    display: flex;
    justify-content: center;
    position: relative;
    height: 920px;
    margin-top: 200px;
}

.head {
    display: flex;
    color: #E95A8D;
    position: absolute;
    top: 0;
}

.circle-text {
	position:relative;
	width: 300px; /* 直径 */
	height: 300px; /* 直径 */
	font-size: 128px;
	text-align: center;
	margin: 0;
	transform: rotate(-80deg); /* 円の回転 */
}

.circle-text span {
	position: absolute;
	top: 0;
	left: calc(50% - 64px); /* 中心点、、文字サイズ分ずらす */
	display: inline-block;
	width: 30px; /* 文字サイズより小さくしない */
	height: 300px; /* 半径 */
	transform-origin: center bottom; /* 回転の基準点 */
}

.circle-text span:nth-child(1) {
	transform: rotate(-5deg);
}

.circle-text span:nth-child(2) {
	transform: rotate(10deg);
}

.circle-text span:nth-child(3) {
	transform: rotate(35deg);
}

.circle-text span:nth-child(4) {
	transform: rotate(50deg);
}

.circle-text span:nth-child(5) {
	transform: rotate(75deg);
}

.left {
    font-size: 128px;
    margin: -80px;
    margin-left: 16px;
    padding: 0;
}



.events {
    display: flex;
    position: absolute;
    flex-direction: column;
    row-gap: 10px;
    left: 15vw;
    top: 20%;
}

.event p {
    display: inline-block;
    font-size: 22px;
}

.event {
    display: flex;
    column-gap: 92px;
    justify-content: left;
    width: 620px;
}

.date {
    width: 144px;
}

.button {
    display: flex;
    justify-content: center;
}

.button p {
    font-size: 180px;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px #FCC8D7;
    position: absolute;
    z-index: -1;
    bottom: 10px;
    text-align: center;
}

.button a {
    display: inline-block;
    padding: 5px 20px;
    font-size: 32px;
    color: #ffffff;
    position: absolute;
    bottom: 84px;
    background-color: #E95A8D;
    border-radius: 10px;
}


@media (max-width: 430px){

    #info {
        margin-top: 12px;
        margin-bottom: 60px;
        padding: 0;
    }

    #info h2 {
        font-size: 40px;
        font-weight: 500;
        display: inline-block;
        margin-bottom: 12px;
    }

    #info .wrapper {
        width: 334px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .events {
        position: static;
        row-gap: 16px;
    }

    .event {
        flex-direction: column;
        width: 100%;
    }

    .event p {
        font-size: 16px;
    }

    .date {
        font-size: 12px;
        width: 100%;
    }

    .content {
        font-size: 16px;
    }
    
    .button a {
        width: 100%;
        text-align: center;
        font-size: 24px;
        font-family: 'Yu Gothic Medium';
        position: static;
        margin-top: 80px;
        padding: 0;
    }

    .button p {
        font-size: 128px;
        bottom: 12px;
        letter-spacing: 2rem;
    }

}


footer {
    padding-top: 52px;
    display: flex;
    justify-content: center;
    background-color: #FCC8D7;
    font-family: 'Yu Gothic Medium';
}

h4 {
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -2px;
    margin-bottom: 20px;
}

footer .wrapper {
    flex-direction: row;
    justify-content: space-between;
}

.sns {
    display: flex;
    column-gap: 12px;
}

.sns img {
    width: 50px;
    height: 50px;
}


.right-content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    letter-spacing: -1px;
}

.detail {
    display: flex;
    column-gap: 32px;
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#copy {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}


@media (max-width:430px) {
    footer {
        padding-top: 12px;
        flex-direction: column;
        justify-content: space-between;
    }

    .copy {
        display: flex;
        justify-content: space-between;
    }

    h4 {
        font-size: 40px;

    }

    footer .wrapper {
        width: 334px;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    .detail {
        flex-direction: column;
    }

    footer p {
        font-size: 16px;
        font-family: 'Yu Gothic Medium';
        font-weight: 200;
        line-height: 2em;
    }
}


@media (max-width: 430px) {
    .pc {
        display: none;
    }
}

@media (min-width: 430px) {
    .sp {
        display: none;
    }
}
